
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: #0bd3c3;
    text-align: center;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
}
 
 .barra-navegacao {
     border: 1px solid rgb(11, 211, 195);
     background-color: rgb(11, 211, 195);
 }
 
 .barra-navegacao ul li {
     display: inline;
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 12pt;
     margin-right: 50px;
 } 

 .barra-navegacao a:link{
    color:white;
    text-decoration: none;
 }

 .barra-navegacao a:visited{
    color:white;
    text-decoration: none;
 }

.login{
    float: right;
}

.logom {
    display: flex;
    justify-content: center;

}
  

 .fa-solid.fa-hospital, .fa-solid.fa-photo-film, .fa-solid.fa-location-dot, .fa-solid.fa-clock, .fa-solid.fa-right-to-bracket{
    color: white;
    margin-right: 10px;
    margin-left: 5px;
}

.conteudo {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navega-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar-img {
    width: 70px;
    height: 17px;
    border: 2px solid rgb(11, 211, 195);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar-img:hover {
    background-color: #fff;
}

input {
    display: none;
}

.imagens {
    display: flex;
    width: 500%;
    height: 100%;
}


.imagem {
    width: 25%;
    transition: .6s;

}

.imagem img{
    width: 100%;
    height: 100%;

}

#logo:checked ~ .s1 {
    margin-left: 0;
}

#recepcao:checked ~ .s1 {
    margin-left: -25%;
}

#consulta:checked ~ .s1 {
    margin-left: -50%;
}

#exame:checked ~ .s1 {
    margin-left: -75%;
}