{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Agendar Consulta</title>
    </head>

    <body>
        <div class="barra-navegacao">
            <ul>
                <li><a href="index"><i class="fa-solid fa-hospital"></i>Clínica Viver Feliz</a></li>
                <li><a href="galeria"><i class="fa-solid fa-photo-film"></i>Galeria</a></li>
                <li><a href="novoendereco"><i class="fa-solid fa-location-dot"></i>Novo Endereço</a></li>
                <li><a href="agendamento"><i class="fa-solid fa-clock"></i>Agendar Consulta</a></li>
                <li class="login"><a href="entrar"><i class="fa-solid fa-right-to-bracket"></i>Entrar</a></li>
            </ul>
        </div>
        
        <div class="intro">
            <h1>Agendamento de Consultas</h1>
            <br>
            <p>Complete os campos abaixo para agendar uma consulta</p>
        </div>

        <div class="consulta">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="campo2">
                        <label>Especialidade:</label>
                        <select value="espec" id="major">
                            <option selected disabled value="">Informe a Especialidade</option-->
                            {% for esp in especialidade %}
                            <option value="{{esp}}">{{esp}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="campo2">
                        <label>Médico:</label>
                        <select id="doctors">
                            <option selected disabled value="">Escolha o Médico</option-->
                        </select>
                    </div>
                </fieldset>
                
                <fieldset>
                    <div class="campo2">
                        <label>Data:</label>
                        <input type="date" name="dataAgendamento" id='appointmentDate' required>
                    </div>

                    <div class="campo2">
                        <label>Horário:</label>
                        <select id="appointmentsHours">
                            <option selected disabled value="">Selecione o Horário da Consulta</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="campo2">
                        <label>Nome:</label>
                        <input type="text" required>
                    </div>

                    <div class="campo2">
                        <label>Telefone:</label>
                        <input type="text" required>
                    </div>
                </fieldset>

                </fieldset>
                <button type="submit" class="botao">Agendar</button>
            </form>
        </div>
        
        
        <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
        <script>

            selectMajor = document.getElementById('major')
            selectDoctor = document.getElementById('doctors')
            selectAppoitments = document.getElementById('appointmentsHours')
            inputDate = document.getElementById('appointmentDate')
            
            function searchDoctorByMajor(major){               
                fetch(`http://localhost:8000/load_doctors/?espec=${major}`)
                .then(res => res.text())
                .then( data => {                    
                    console.log(data)   
                    selectDoctor.innerHTML = data
                    }
                )
            }

            function verifyAppointmentAvaibles(date){
                console.log(selectDoctor.value)
                fetch(`http://localhost:8000/verifyHours/?dataAgendamento=${date},codigo=${selectDoctor.value}`) // YYYY-MM-DD 2023-12-13
                .then(res => res.json())
                .then(data => {                   
                    console.log(data)

                    if(!data.length){
                        console.log('Lista Vazia')
                    }else{
                        data.map(consulta => {
                            console.log(consulta);
                        });                        
                    }
                })
            }

            selectMajor.onchange = (e) => {                 
                searchDoctorByMajor(selectMajor.value)
            }

            inputDate.addEventListener('change', () => {
                selectedDate = inputDate.value                
                verifyAppointmentAvaibles(selectedDate)
            })

        </script>
    </body>
</html>