{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Funcionários</title>
</head>
<body>
    <div class="barra-navegacao">
        <ul>
            <li><a href="novofuncionario"><i class="fa-solid fa-address-card"></i> Novo Funcionário</a></li>
            <li><a href="novopaciente"><i class="fa-solid fa-user-plus"></i> Novo Paciente</a></li>
            <li><a href="funcionarios"><i class="fa-solid fa-users-between-lines"></i> Funcionários</a></li>
            <li><a href="pacientes"><i class="fa-solid fa-user-injured"></i> Pacientes</a></li>
            <li><a href="enderecos"><i class="fa-solid fa-location-dot"></i>Endereços</a></li>
            <li><a href="todosagendamentos"><i class="fa-solid fa-clipboard-list"></i> Todos os Agendamentos</a></li>
            <li><a href="prontuarios"><i class="fa-solid fa-stethoscope"></i> Prontuários</a></li>
            <li class="login"><a href="index"><i class="fa-solid fa-right-to-bracket"></i> Sair</a></li>
        </ul>
    </div>

    <div class="intro">
        <h1>Funcionários</h1>
    </div>

    <div class="exibirfunc">
        <table class="tabelada">
            <tr class="init">
                <td>Codigo</td> 
                <td>Nome</td>
                <td>Salário</td>
                <td>Data de Início do Contrato</td>
                <td>E-mail</td>
                <td>Telefone</td>
                <td>CEP</td>
                <td>Logradouro</td>
                <td>Bairro</td>
                <td>Cidade</td>
                <td>Estado</td>
            </tr>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{funcionario.codigo}}</td> 
                <td>{{funcionario.codigo.nome}}</td>
                <td>{{funcionario.salario}}</td>
                <td>{{funcionario.datacontrato}}</td>
                <td>{{funcionario.codigo.email}}</td>
                <td>{{funcionario.codigo.telefone}}</td>
                <td>{{funcionario.codigo.cep}}</td>
                <td>{{funcionario.codigo.logradouro}}</td>
                <td>{{funcionario.codigo.bairro}}</td>
                <td>{{funcionario.codigo.cidade}}</td>
                <td>{{funcionario.codigo.estado}}</td>
            </tr>
            {% endfor %}

        </table>
        
    </div>

    <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
</body>
</html>