{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Home</title>
    </head>

    <body>
        <div class="barra-navegacao">
            <ul>
                <li><a href="index"><i class="fa-solid fa-hospital"></i>Clínica Viver Feliz</a></li>
                <li><a href="galeria"><i class="fa-solid fa-photo-film"></i>Galeria</a></li>
                <li><a href="novoendereco"><i class="fa-solid fa-location-dot"></i>Novo Endereço</a></li>
                <li><a href="agendamento"><i class="fa-solid fa-clock"></i>Agendar Consulta</a></li>
                <li class="login"><a href="entrar"><i class="fa-solid fa-right-to-bracket"></i>Entrar</a></li>
            </ul>
        </div>

        <div class="nome">
            <h1> Clínica Viver Feliz</h1>
        </div>

        <div id="dov">
            <img src="{% static 'images/logo_menor.png' %}" alt="logo_menor" width="200">
        </div>

        <div class="infos">
            <div class="item">
                <h2>Descrição</h2>
                <p>Uma clínica especializada em cuidar da sua saúde de maneira ampla e pessoal.</p>
            </div>
                <div class="item">
                    <h2>Missão</h2>
            <p>Nossa missão é providenciar cuidado e atendimento para que cada paciente tenha, não apenas saúde física, como também emocional e relacional. A fim de que possa viver a vida de maneira íntegra, completa e em satisfação plena.</p>
                </div>
        </div>

        <div class="info">
            <h2>Valores</h2>
            <p>Nossos valores são de agir com total transparência e sinceridade para com o cliente, construindo assim uma relação de confiança do cliente com a sua saúde, além de providenciar atendimento e aconselhamento pessoal a cada cliente para que ele possa encontrar uma saúde integral.</p>
        </div>

        
        <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
    </body>
</html>