{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Novo Endereço</title>
    </head>

    <body>
        <div class="barra-navegacao">
            <ul>
                <li><a href="index"><i class="fa-solid fa-hospital"></i>Clínica Viver Feliz</a></li>
                <li><a href="galeria"><i class="fa-solid fa-photo-film"></i>Galeria</a></li>
                <li><a href="novoendereco"><i class="fa-solid fa-location-dot"></i>Novo Endereço</a></li>
                <li><a href="agendamento"><i class="fa-solid fa-clock"></i>Agendar Consulta</a></li>
                <li class="login"><a href="entrar"><i class="fa-solid fa-right-to-bracket"></i>Entrar</a></li>
            </ul>
        </div>
        
        <div class="intro">
            <h1>Cadastrar Endereço</h1>
            <br>
            <p>Preencha os campos abaixo para adicionar um novo endereço</p>
        </div>

        <div class="nvend">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="campo">
                        <label>CEP:</label>
                        <input name="cep" id="cep" type="text" value="{{cep}}">
                    </div>

                    <div class="campo">
                        <label>Logradouro:</label>
                        <input name="logradouro" id="logradouro" type="text" value="{{logradouro}}">
                    </div>
                </fieldset>
                
                <fieldset>
                    <div class="campo">
                        <label>Bairro:</label>
                        <input name="bairro" id="bairro" type="text" value="{{bairro}}">
                    </div>

                    <div class="campo">
                        <label>Cidade:</label>
                        <input name="cidade" id="cidade" type="text" value="{{cidade}}">
                    </div>
                </fieldset>

                <fieldset>
                    <div class="campo">
                        <label>Estado:</label>
                        <input name="estado" id="estado" type="text" value="{{estado}}">
                    </div>
                </fieldset>
                <button type="submit" class="botao">Cadastrar</button>
            </form>
        </div>
        
        <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
    </body>
</html>