{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Todos Agendamentos</title>
</head>
<body>
    <div class="barra-navegacao">
        <ul>
            <li><a href="novofuncionario"><i class="fa-solid fa-address-card"></i> Novo Funcionário</a></li>
            <li><a href="novopaciente"><i class="fa-solid fa-user-plus"></i> Novo Paciente</a></li>
            <li><a href="funcionarios"><i class="fa-solid fa-users-between-lines"></i> Funcionários</a></li>
            <li><a href="pacientes"><i class="fa-solid fa-user-injured"></i> Pacientes</a></li>
            <li><a href="enderecos"><i class="fa-solid fa-location-dot"></i>Endereços</a></li>
            <li><a href="todosagendamentos"><i class="fa-solid fa-clipboard-list"></i> Todos os Agendamentos</a></li>
            <li class="login"><a href="index"><i class="fa-solid fa-right-to-bracket"></i> Sair</a></li>
        </ul>
    </div>

    <div class="intro">
        <h1>Agendamentos</h1>
    </div>
    <div class="exibirfunc">
        <table class="tabelada">
            <tr class="init">
                <td>Código</td> 
                <td>Data</td>
                <td>Horário</td>
                <td>Nome</td>
                <td>E-mail</td>
                <td>Telefone</td>
                <td>Código Médico</td>
            </tr>
            {% for age in agendamentos %}
            <tr>
                <td>{{age.codigo}}</td> 
                <td>{{age.data_agenda}}</td>
                <td>{{age.horario}}</td>
                <td>{{age.nome}}</td>
                <td>{{age.email}}</td>
                <td>{{age.telefone}}</td>
                <td>{{age.codigomedico}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
</body>
</html>